<template>
  <div id="table-parking">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 class="table-title">{{ $t('busiest_cells') }}</h3>
    </div>
    <center v-if="rows.length == 0">
      <h5>{{ $t('no_record_busiest') }}</h5>
    </center>
    <table v-else class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cell</th>
          <th scope="col">Time Total</th>
          <th scope="col">Earnings</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, index) in rows">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ row.tag }}</td>
          <td>{{ row.time | FormatJs('00:00:00') }} </td>
          <td>{{ row.total | FormatJs('0,0.00') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Moment from 'moment'

export default {
  name: 'busiest-parking',

  beforeMount () {
    this.getData()
  },

  computed: mapGetters({
    rows: 'busiestCells'
  }),

  methods: {
    async getData () {
      await this.$store.dispatch('getBusiestCells')
    },
  }

}
</script>

<style scoped>

</style>
