<template>
  <div class="col">
    <div class="row">
      <div class="col-6 text-right">
        <h6>{{ $t('time_elapsed') }}</h6> {{ seconds | FormatJs('00:00:00') }}
      </div>
      <div class="col-6 text-right">
        <h6>{{ $t('amount_payable') }}</h6> {{ seconds * 30 | FormatJs('0,0.00') }}
      </div>
    </div>
  </div>
</template>

<script>
import Moment from 'moment'

export default {
  name: 'count-time-pay',

  beforeMount () {
    const vm = this
    setInterval(function(){ 
      vm.count()
    }, 1000)
  },

  props: [ 'date' ],

  data: () => ({
    seconds: 0,
    timer: '00:00:00'
  }),

  methods: {
    count () {
      let start = Moment.utc(this.date)
      let now = Moment.utc()

      this.seconds = now.diff(start, 'seconds')
    }
  }
}
</script>

<style scoped>

</style>
