<template>
  <div id="table-parking">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 class="table-title">{{ $t('vehicle_parking') }}</h3>
    </div>
    <div class="accordion" id="accordion">
      <center v-if="rows.length == 0">
        <h5>{{ $t('no_vehicles_parking') }}</h5>
      </center>
      <div v-else v-for="cell in rows" class="card">
        <div class="card-header" id="vehicle">
          <h5 class="mb-0">
            <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" :data-target="'#'+cell.tag" aria-expanded="false" :aria-controls="cell.tag">
              <div class="row">
                <div class="col">#{{ cell.ticket }}</div>
                <div class="col text-right">{{ cell.tag }}</div>
              </div>
            </button>
          </h5>
        </div>
        <div :id="cell.tag" class="collapse" aria-labelledby="vehicle" data-parent="#accordion">
          <div class="card-body">
            <h6>{{ $t('vehicle_data') }} <small>{{ $t('brand') }} - {{ $t('license_plate') }}</small></h6>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{ cell.vehicle.brand }}</span>
                </div>
                <span class="form-control">{{ cell.vehicle.license_plate }}</span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <span v-for="log in cell.logs">
                  <b v-if="log.type == 'IN'">{{ $t('entry_cell') }}:</b>
                  <b v-if="log.type == 'OUT'">{{ $t('exit_cell') }}:</b>
                  <small v-if="log.type == 'OUT' || log.type == 'IN'"> {{log.value }}</small>
                  <br v-if="log.type == 'OUT' || log.type == 'IN'"/>
                </span> 
              </div>
              <count :date="cell.set_at"></count>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Count from './Count'

export default {
  name: 'list-parking',

  components: { Count },

  beforeMount () {
    this.getData()
  },
  computed: mapGetters({
    rows: 'tickets'
  }),

  methods: {
    async getData () {
      await this.$store.dispatch('getTickets')
    },
  }
  
}
</script>

<style scoped>
button.btn-block {
  text-align: left;
}
.accordion {
  max-height: 360px;
  overflow: auto;
} 
</style>
