<template>
  <span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vehicle-in">
      {{ $t('vehicle_in') }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="vehicle-in" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true" ref="vuemodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label">{{ $t('vehicle_in') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="save" @keydown="form.onKeydown($event)">
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label">{{ $t('brand') }}</label>
                    <div class="input-group">
                      <input v-model="form.brand" type="text" name="brand" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('brand') }">
                      <has-error :form="form" field="brand"></has-error>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label">{{ $t('license_plate') }}</label>
                    <div class="input-group">
                      <input v-model="form.license_plate" type="text" name="license_plate" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('license_plate') }">
                      <has-error :form="form" field="license_plate"></has-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              <v-button :loading="form.busy">{{ $t('save') }}</v-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
import Form from 'vform'
import swal from 'sweetalert2'

export default {
  name: 'modal-vehicle-in',

  data: () => ({
    form: new Form({
      brand: '',
      license_plate: '',
    }),
  }),

  methods: {
    async save () {
      // Submit the form.
      const { data, status } = await this.form.post('/api/parking/in/vehicle')

      // Update Tickets.
      this.$store.dispatch('updateTickets', {
        ticket: data.data.ticket,
      })

      // Update Table.
      this.$store.dispatch('updateTable', {
        table: data.data.ticket,
      })

      $(this.$refs.vuemodal).modal('hide')
      if (status == 200) {
        swal({
          type: 'success',
          title: swal.i18n.t('success_alert_title'),
          text: swal.i18n.t('success_alert_text')
        })
      } else {
        swal({
          type: 'error',
          title: swal.i18n.t('error_alert_title'),
          text: swal.i18n.t('error_alert_text')
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
