<template>
  <span>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#vehicle-out">
      {{ $t('vehicle_out') }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="vehicle-out" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true" ref="vuemodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label">{{ $t('vehicle_out') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="save" @keydown="form.onKeydown($event)">
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label">{{ $t('license_plate') }}</label>
                    <div class="input-group">
                      <input v-model="form.key" type="text" name="key" class="form-control" 
                        :class="{ 'is-invalid': form.errors.has('key') }" aria-label="Recipient's username" aria-describedby="button-addon">
                      <div class="input-group-append">
                        <button @click="search()" class="btn" :class="[!loading ? 'btn-outline-info' : 'btn-info']" type="button" id="button-addon">
                          <span v-if="!loading">Search</span>
                          <span v-else>Loading...</span>
                        </button>
                      </div>
                      <has-error :form="form" field="key"></has-error>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="data" class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label">{{ $t('name_client') }}</label>
                    <div class="input-group">
                      <input v-model="form.client" type="text" name="client" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('client') }">
                      <has-error :form="form" field="client"></has-error>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="data" class="row pt-2 border-top">
                <div class="col">
                  <span v-for="log in data.logs">
                    <b v-if="log.type == 'IN'">{{ $t('entry_cell') }}:</b>
                    <b v-if="log.type == 'OUT'">{{ $t('exit_cell') }}:</b>
                    <small v-if="log.type == 'OUT' || log.type == 'IN'"> {{log.value }}</small>
                    <br v-if="log.type == 'OUT' || log.type == 'IN'"/>
                  </span> 
                </div>
                <count :date="data.set_at"></count>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              <v-button v-if="data && form.client" :loading="form.busy">{{ $t('save') }}</v-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import Moment from 'moment'
import swal from 'sweetalert2'
import Count from './Count'

export default {
  name: 'modal-vehicle-out',

  components: { Count },

  data: () => ({
    form: new Form({
      key: null,
      client: null,
    }),
    data: null,
    loading: false,
  }),

  methods: {
    search () {
      this.loading = true
    
      let key = this.form.key
      const vm = this
      axios.get('/api/parking/vehicle', {
        params: { key: key }
      }).then(function (response) {
        vm.data = response.data.data
        vm.loading = false
      })
    },

    async save () {
      const { data, status } = await this.form.put('/api/parking/out/vehicle')

      await this.$store.dispatch('getData')

      await this.$store.dispatch('getTickets')

      await this.$store.dispatch('getBusiestCells')

      $(this.$refs.vuemodal).modal('hide')
      let vm = this
      if (status == 200) {
        swal({
          type: 'success',
          title: swal.i18n.t('success_alert_title'),
          text: swal.i18n.t('success_alert_text')
        }).then(() => {

          swal(swal.i18n.t('total_pay')+': '+
            vm.$options.filters.FormatJs(data.data.total_pay, '0,0.00')
          );
        });
      } else {
        swal({
          type: 'error',
          title: swal.i18n.t('error_alert_title'),
          text: swal.i18n.t('error_alert_text')
        })
      }
    }

  }
}
</script>

<style scoped>

</style>
