<template>
  <div id="table-parking">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 class="table-title">{{ $t('parking') }}</h3>
      <div class="btn-toolbar mb-2 mb-md-0">
        <modal-vehicle-out class="mr-2"></modal-vehicle-out>
        <modal-vehicle-in></modal-vehicle-in>
      </div>
    </div>
    <div v-if="!rows" class="divTable">
      <div class="tbody">
        <div v-for="i in 2" class="row">
          <div v-for="j in 5" class="cell">
              <b>-</b>
              <center >
                <b>-</b>
              </center>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="divTable">
        <div class="tbody">
            <div v-for="row in rows" class="row">
                <div v-for="cell in row" class="cell" :class="[cell.status ? 'occupied' : '']">
                  <b>{{ cell.tag }}</b>
                    <center v-show="cell.status">
                      <b>{{ $t('ticket') }}</b><br> 
                      {{ cell.ticket }}
                    </center>
                    <center v-show="!cell.status">
                      <b>{{ $t('empty') }}</b>
                    </center>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ModalVehicleIn from './ModalVehicleIn'
import ModalVehicleOut from './ModalVehicleOut'

export default {
  name: 'table-parking',

  components: { 
    ModalVehicleIn, 
    ModalVehicleOut 
  },

  beforeMount () {
    this.getData()
  },

  computed: mapGetters({
    rows: 'tableParking'
  }),

  methods: {
    async getData () {
      await this.$store.dispatch('getData')
    },
  }

}
</script>

<style scoped>
.divTable{
	display: table;
	width: 100%;
  border: 1px solid #343a40;
}
.divTable .row {
	display: table-row;
}
.divTable .cell {
	border: 1px solid #343a40;
  background-color: #f8f9fa;
	display: table-cell;
	padding: 3px 10px;
  height: 8rem;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

.occupied {
  background-color :#28a745 !important;
  color: aliceblue !important;
}

.occupied b {
  color: rgba(0, 0, 0, 0.4);
}

.divTable .cell > center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 18px;
}

.divTable .tbody {
	display: table-row-group;
}

</style>
