<template>
  <div>
    <table-parking></table-parking>
    <div class="row mt-3">
      <div class="col">
        <list-parking></list-parking>
      </div>
      <div class="col">
        <busiest-parking></busiest-parking>
      </div>
    </div>
  </div>
  
</template>

<script>
import { mapGetters } from 'vuex'
import TableParking from '~/components/TableParking'
import ListParking from '~/components/ListParking'
import BusiestParking from '~/components/BusiestParking'

export default {
  components: { 
    TableParking,
    ListParking,
    BusiestParking
  },
}
</script>
