<template>
  <div class="app-layout">
    <navbar></navbar>

    <div class="container-fluid">
      <div class="row">
        <sidebar></sidebar>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <child/>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import Sidebar from '~/components/Sidebar'

export default {
  name: 'app-layout',

  components: {
    Navbar,
    Sidebar
  }
}
</script>

<style scoped>
[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}
</style>