<template>
  <div class="app-layout">
    <div class="container mt-5">
      <child/>
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'default-layout',

  components: {
    Navbar
  }
}
</script>
